
html
  background-color: #231f20

html, body, main
  margin: 0
  padding: 0
  overflow: hidden

  width: 100%
  height: 100%

app-root, app-tv
  display: block
  width: 100%
  height: 100%

canvas
  display: block
  position: fixed
  width: 100%
  height: 100%
  z-index: -1
