<main *ngIf="room$ | async as room">
  <div *ngIf="player$ | async as player; else noPlayer" class="flex column">
    <p-progressBar [value]="(player.ship.gas / player.ship.max_gas * 100) | round"></p-progressBar>

    <p-tabView>

      <p-tabPanel header="Travel">
        <app-travel [player]="player"></app-travel>
      </p-tabPanel>

      <p-tabPanel header="Planet" [disabled]="!player.planet">
        <app-at-planet [player]="player"></app-at-planet>
      </p-tabPanel>

    </p-tabView>
  </div>

  <ng-template #noPlayer>
    <div class="center">
      <p-card [style]="{width: '220px'}" styleClass="ui-card-shadow">
        <app-player-creator></app-player-creator>
      </p-card>
    </div>
  </ng-template>
</main>
