<main *ngIf="room$ | async as room">
  <div *ngIf="player$ | async as player; else noPlayer" class="flex column">
    <div appRow [grow]="true" class="gutter pad top-bar">
      <div class="ui-inputgroup">
        <span class="ui-inputgroup-addon"><i class="pi pi-dollar"></i></span>
        <span class="grow ui-inputtext ui-corner-all ui-state-default ui-widget">{{player.money}}</span>
      </div>
      <div class="ui-inputgroup">
        <span class="ui-inputgroup-addon"><i class="pi pi-filter"></i></span>
        <p-progressBar class="grow fuel"
                       [value]="(player.ship.gas / player.ship.max_gas * 100) | round"></p-progressBar>
      </div>
    </div>

    <div class="screen">
      <ng-container *ngIf="player.planet; else noPlanet">
        <app-at-planet [player]="player"></app-at-planet>
      </ng-container>

      <ng-template #noPlanet>
        <app-travel [player]="player"></app-travel>
      </ng-template>
    </div>
  </div>

  <ng-template #noPlayer>
    <app-player-creator></app-player-creator>
  </ng-template>
</main>
